body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

.sidebarLayout {
  display: flex;
  height: 100vh; 
}

.leftHalf {
  background-color: orange;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightHalf {
  background-color: white;
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .logo {
 
}

.form {
  
}
 */
