.customCarouselButton-prev{
    position: absolute;
    top:80px;
    left: -100px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 25px;
    transition: ease-out 300ms;
}

.customCarouselButton-prev:hover{
    background-color: rgba(212, 83, 14, 0.3);
    transition: ease-out 300ms;
}

.customCarouselButton-next{
    position: absolute;
    top:80px;
    right: 100px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 25px;
    transition: ease-out 300ms;
}

.customCarouselButton-next:hover{
    background-color: rgba(212, 83, 14, 0.3);
    transition: ease-out 300ms;
}